{% extends 'layouts/base.html.twig' %}

{% block title pokemon.name ~ parent() %}

{% block body %}
    <div class="jumbotron border border-success mt-4 justify-content-center d-flex flex-wrap bg-dark">
        <div class="card mb-3 text-center bg-secondary border-success" style="max-width: 20rem;">
            <div class="card-header">{{pokemon.name}}</div>
            <div class="card-body">
                <img style="height:220px;width:200px;" src="{{ asset(pokemon.picture) }}" alt="image de {{pokemon.name}}">
            </div>
        </div>
        <div class="card mb-3 text-center bg-dark text-success" style="max-width: 20rem;">
            <div class="card-header">{{pokemon.height}}cm | {{pokemon.weight}}kg</div>
            <div class="card-body">
                <p>{{pokemon.details}}</p>
            </div>
            <div class="card-footer">
                <p>[ Famille : {{pokemon.family.name}} ]</p>
            </div>
        </div>
    </div>
{% endblock %}