{% extends 'layouts/base.html.twig' %}

{% block title pokemon.name ~ ' | ' ~ parent() %}

{% block body %}
    <div class="jumbotron border border-success mt-4 justify-content-center d-flex flex-wrap bg-dark">
        <div class="vignette card mb-3 text-center bg-secondary border-success" style="max-width: 20rem;">
            <div class="card-header">{{pokemon.name}}</div>
            <div class="card-body">
                <img style="height:220px;width:200px;" src="{{ asset(pokemon.picture) }}" alt="image de {{pokemon.name}}">
            </div>
        </div>
        <div class="vignette card mb-3 text-center bg-dark text-success" style="max-width: 20rem;">
            <div class="card-header">{{pokemon.height}}cm | {{pokemon.weight}}kg</div>
            <div class="card-body">
                <p>{{pokemon.details}}</p>
            </div>
            <div class="card-footer">
                {% if pokemon.family is not null %}
                    <p>[ Famille : {{pokemon.family.name}} ]</p>
                {% else %}
                    <p>[ Famille : non répertoriée ]</p>
                {% endif %}
            </div>
        </div>
        <article>
            <h3 class="container-fluid d-flex flex-column">
                <a class="btn btn-outline-warning mb-1 mt-auto" href=" {{path('edit_pokemon', {id: pokemon.id})}} ">Edit</a>
                <a class="btn btn-outline-danger mb-auto mt-1" href="#" onclick="event.preventDefault(); confirm('Are you sure?') 
                    && document.getElementById('js-pokemon-delete-form').submit();">Delete
                </a>
            </h3>
            <form id="js-pokemon-delete-form" action="{{path('delete_pokemon', {id:pokemon.id})}}" method="POST" style="display: none;">
                <input type="hidden" name="csrf_token" value="{{csrf_token('pokemon_deletion_' ~ pokemon.id)}}">
                <input type="hidden" name="_method" value="DELETE">
            </form>
        </article>
    </div>
{% endblock %}